@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.bg {
  background-color: white;
}

.bg-highlight {
  background-color: light-gray;
}

/* Add system-based dark mode detection */
@media (prefers-color-scheme: dark) {
  body {
    color: white;
  }

  .bg {
    @apply bg-gray-900;
  }

  .bg-highlight {
    @apply bg-gray-800;
  }
}
